.root {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  margin: 20px 40px;
}

.form {
  width: 100%;

  .addComment {
    border: black !important;
    border-radius: 20px !important;
    width: 100%;

    .textFieldRoot {
      border-radius: 20px;
    }
  }
}